
html {
  background-color: mediumpurple;
}

h1 {
  color: aquamarine;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica sans-serif;
}

a {
  color: salmon;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: red;
}

li {
  list-style: none;

}


